apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: dotnet-basic-fietvtvt
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/sjmrhtap/dotnet-basic-fietvtvt:c61cf997c5f3a26a0ae5a40d9d17d64427181627@sha256:7808464d7e8fd4e94b11bf6e25446e005802424abc01688b2d0cd06c70446b35
          name: container-image
